.katchmon-introduce-tech {background-image: url(../image/bg_sourcecode.png); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #000000;}
.katchmon-introduce-tech h1 {color: #b973ff;}
.katchmon-introduce-tech p {color: #FFFFFF;}
.katchmon-introduce-tech-chart-self {width: 800px; display: inline-block;}
.katchmon-introduce-tech-chart-element-container {margin-bottom: 10px;}
.katchmon-introduce-tech-chart-element-title {display: inline-block; width: 15%; background-color: #8251b3; margin-right: -6px; height: 25px; line-height: 25px; vertical-align: top;}
.katchmon-introduce-tech-chart-element-scoreContainer {display: inline-block; width: 77%; background-color: #333333; text-align: right; height: 25px; vertical-align: top;}
.katchmon-introduce-tech-chart-element-score {background-color: #b973ff; display: block; height: 25px;}
.katchmon-introduce-tech-chart-element-textContainer {display: inline-block; width: 6%; text-align: left; height: 25px; line-height: 25px; vertical-align: top;}

.katchmon-introduce-career {background: linear-gradient(#FFFFFF 550px, #f6ff8e);}
.katchmon-introduce-career-banner-container {margin-top: 80px;}
.katchmon-introduce-career-banner-item {margin: auto; width: 95%; height: 500px; margin-top: 40px; border-radius: 30px; transition: all 0.4s ease;}
.katchmon-introduce-career-banner-item:hover {box-shadow: 0 7px 17px #777777;}
.katchmon-introduce-career-banner-text {text-align: right; padding-top: 30px; padding-right: 40px;}
.katchmon-introduce-career-banner-responsibility {color: #444444;}
.katchmon-introduce-career-banner-image {height: 300px; margin-top: 30px;}

@media (max-width: 753px) {
	.katchmon-introduce-tech-chart-self {width: 95%;}
	.katchmon-introduce-tech-chart-element-title {width: 30%;}
	.katchmon-introduce-tech-chart-element-scoreContainer {width: 62%;}
	.katchmon-introduce-career-banner-text {text-align: center; padding-top: 50px; padding-right: 0px;}
	.katchmon-introduce-career-banner-image {margin-top: 55px; height: 200px;}
	.katchmon-introduce-career-banner-item {height: 450px;}
}