.katchmon-main-introduce {background-color: #ff8041;}
.katchmon-main-introduce h1 {color: #7f00ff;}
.katchmon-main-introduce p {color: #FFFFFF;}
.katchmon-main-introduce .katchmon-content-button-link-white:hover {color: #ff8041;}

.katchmon-main-contact {background-color: #e2f4de;}
.katchmon-main-contact h1 {color: #50ba3b;}
.katchmon-main-contact p {color: #50ba3b;}